@font-face {
  font-family: 'iso7010';
  src: url('../font/iso7010.eot?38986490');
  src: url('../font/iso7010.eot?38986490#iefix') format('embedded-opentype'),
       url('../font/iso7010.woff?38986490') format('woff'),
       url('../font/iso7010.ttf?38986490') format('truetype'),
       url('../font/iso7010.svg?38986490#iso7010') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'iso7010';
    src: url('../font/iso7010.svg?38986490#iso7010') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "iso7010";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-iso_7010_w001:before { content: '\e800'; } /* '' */
.icon-iso_7010_w002:before { content: '\e801'; } /* '' */
.icon-iso_7010_w003:before { content: '\e802'; } /* '' */
.icon-iso_7010_w004:before { content: '\e803'; } /* '' */
.icon-iso_7010_w005:before { content: '\e804'; } /* '' */
.icon-iso_7010_w006:before { content: '\e805'; } /* '' */
.icon-iso_7010_w007:before { content: '\e806'; } /* '' */
.icon-iso_7010_w008:before { content: '\e807'; } /* '' */
.icon-iso_7010_w009:before { content: '\e808'; } /* '' */
.icon-iso_7010_w010:before { content: '\e809'; } /* '' */
.icon-iso_7010_w011:before { content: '\e80a'; } /* '' */
.icon-iso_7010_w012:before { content: '\e80b'; } /* '' */
.icon-iso_7010_w013:before { content: '\e80c'; } /* '' */
.icon-iso_7010_w014:before { content: '\e80d'; } /* '' */
.icon-iso_7010_w015:before { content: '\e80e'; } /* '' */
.icon-iso_7010_w016:before { content: '\e80f'; } /* '' */
.icon-iso_7010_w017:before { content: '\e810'; } /* '' */
.icon-iso_7010_w018:before { content: '\e811'; } /* '' */
.icon-iso_7010_w019:before { content: '\e812'; } /* '' */
.icon-iso_7010_w020:before { content: '\e813'; } /* '' */
.icon-iso_7010_w021:before { content: '\e814'; } /* '' */
.icon-iso_7010_w022:before { content: '\e815'; } /* '' */
.icon-iso_7010_w023_original:before { content: '\e816'; } /* '' */
.icon-iso_7010_w024:before { content: '\e817'; } /* '' */
.icon-iso_7010_w025:before { content: '\e818'; } /* '' */
.icon-iso_7010_w026:before { content: '\e819'; } /* '' */
.icon-iso_7010_w027:before { content: '\e81a'; } /* '' */
.icon-iso_7010_w028:before { content: '\e81b'; } /* '' */
.icon-iso_7010_w029:before { content: '\e81c'; } /* '' */
.icon-iso_7010_w030:before { content: '\e81d'; } /* '' */
.icon-iso_7010_w031:before { content: '\e81e'; } /* '' */
.icon-iso_7010_w032:before { content: '\e81f'; } /* '' */
.icon-iso_7010_w033:before { content: '\e820'; } /* '' */
.icon-iso_7010_w034:before { content: '\e821'; } /* '' */
.icon-iso_7010_w035:before { content: '\e822'; } /* '' */
.icon-iso_7010_w036:before { content: '\e823'; } /* '' */
.icon-iso_7010_w037:before { content: '\e824'; } /* '' */
.icon-iso_7010_w038:before { content: '\e825'; } /* '' */