@font-face {
  font-family: 'iso7010';
  src: url('../font/iso7010.eot?42295019');
  src: url('../font/iso7010.eot?42295019#iefix') format('embedded-opentype'),
       url('../font/iso7010.woff?42295019') format('woff'),
       url('../font/iso7010.ttf?42295019') format('truetype'),
       url('../font/iso7010.svg?42295019#iso7010') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'iso7010';
    src: url('../font/iso7010.svg?42295019#iso7010') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "iso7010";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-iso_7010_w002:before { content: '\e800'; } /* '' */
.icon-iso_7010_w003:before { content: '\e801'; } /* '' */
.icon-iso_7010_w004:before { content: '\e802'; } /* '' */
.icon-iso_7010_w005:before { content: '\e803'; } /* '' */
.icon-iso_7010_w006:before { content: '\e804'; } /* '' */
.icon-iso_7010_w012:before { content: '\e805'; } /* '' */
.icon-iso_7010_w018:before { content: '\e806'; } /* '' */
.icon-iso_7010_w024:before { content: '\e807'; } /* '' */
.icon-iso_7010_w027:before { content: '\e808'; } /* '' */
.icon-iso_7010_w029:before { content: '\e809'; } /* '' */